@import 'fonts';
@import 'vars';

:root {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

* {
  line-height: 1.5em;
}

body {
  background-color: $white;
  color: $black;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    small {
      font-size: .6em;
    }
  }

  h1 {
    font-size: 3rem;
  }
}

.fa {
  vertical-align: middle;
}

.social-links {
  display: block;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;

    a {
      margin: 0.5em;
      padding: 1em 0.5em;
      background-color: #020f02;
      color: lighten(#020f02, 60%);
      border-radius: 0.5em;
    }
  }
}

.base-component {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/bg-1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: auto;
  }
}
